body {
  background-image: url("../img/blackjackBoard.jpg");
  color: white;
}

.card {
  float: left;
  width: 120px;
  border-radius: 5px;
  height: 175px;
  margin-right: 20px;
}

.covered {
  background-image: url("../img/card-back.png");
}

.hand {
  overflow: auto;
}

.column-left {
  float: left;
  width: 45%;
  margin-left: 75px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.column-right {
  float: right;
  width: 45%;
  margin-top: 40px;
}

.player, .dealer, .push, .blackjack {
  font-size: 50px;
}

.player {
  color: green;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.dealer {
  color: darkred;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.push {
  color: blue;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.blackjack {
  color: goldenrod;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


